<?xml version="1.0" encoding="UTF-8"?>
<!-- # (C) Copyright IBM Corp. 2020 # # SPDX-License-Identifier: Apache-2.0 -->
<configuration>

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} %green[%thread] %highlight([%-15X{Resource}]) %-5level [%-4line] %-30logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	

	<logger name="io.github.linuxforhealth" level="info" />
	<root level="info">
		<appender-ref ref="Console" />
	</root>


</configuration>